.color-box { 
    width: 200px;
    border-radius: 10px;
    height: 200px;
    margin-bottom: 10px;
}

.color-label{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 60px;
}

.head{
    text-align: center;
    font-size: x-large;
}

.clear-10{
    padding-top: 10px;
}